{% block index %}
<!DOCTYPE html>
<html lang="en" onload="process()">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Light Switch</title>


  <style>
    body {
      background-color: #262626;
    }

    .button {
      margin-top: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    #switch {
      font-size: 2rem;
    }



    h1 {
      color: white;
    }

    #info {}
  </style>

</head>

<body>
  <div class="button">
    <h1>This is a button</h1>
    <button id="switch" onclick=post()>Click</button></a>
    <br>


    {% block switch %} <h1 id="true" class="switch">Press the button</h1> {% endblock %}
  </div>
</body>{% block script %}
<script>



  function post() {
    var request = new XMLHttpRequest();
    request.open("POST", "status", true);
    request.setRequestHeader("Content-Type", "application/json")

    var json = document.querySelector(".switch").id;

    var info = JSON.stringify({ "led": json })

    console.log(info);

    request.send(info);

    switch (document.querySelector(".switch").id) {
      case "True": (document.querySelector(".switch").id = "False");
        break;
      case "False": (document.querySelector(".switch").id = "True")
    }
  }


</script>
{% endblock %}

</html>
{% endblock %}