{% block index %}
<!DOCTYPE html>
<html lang="en" onload="process()">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Light Switch</title>


  <style>
    body {
      background-color: #262626;
    }

    .button {
      margin-top: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    #switch {
      font-size: 2rem;
    }



    h1 {
      color: white;
    }

    #info {}
  </style>

</head>

<body>
  <div class="button">
    <h1>This is a button</h1>
    <button id="switch" onclick=post()>Click</button></a>
    <br>


    {% block switch %} <h1 id="info">Press the button</h1> {% endblock %}
  </div>
</body>{% block script %}
<script>
  var request = new XMLHttpRequest();
  function process(e) {
    request.open('GET', "", true);
    request.send();

    request.onreadystatechange = processRequest;

    if (request.readyState == 4 && request.status == 200) {
      var response = JSON.parse(request.responseText);
      console.log(response)
    };
  }
  function post() {
    request.open("POST", "", true);
    var json = document.getElementById("switch");
    console.log(JSON.stringify({ led: json }));
    request.send(JSON.stringify({ led: json }));
  }

</script>
{% endblock %}

</html>
{% endblock %}