<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Light Switch</title>
    <link rel="stylesheet" href="switchoff.css" />
    <style>
      body {
        background-image: url(https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjq94m_iYjnAhVKJhoKHf5OBesQjRx6BAgBEAQ&url=https%3A%2F%2Fimgur.com%2Fr%2FShrek%2FCuShj4j&psig=AOvVaw1u1cYN36_oFq0wcjeyRekL&ust=1579262520608307);
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      button {
        height: 100px;
        width: 100px;
      }
    </style>
  </head>
  <body>
    <div class="button">
      <h1>This is a button</h1>
      <a href="/on"><button id="LED" class="LED">On</button></a>
      <a href="/off"><button id="LED" class="LED">Off</button></a>

      <h1>Press the button</h1>
    </div>
  </body>
</html>
